.button
  padding: 13px 20px

  text-transform: uppercase
  
  border: none
  border-radius: 2px
  &_primary
    background-color: $primary
    color: $light
  &_outline
    border: 1px solid $light
    background-color: transparent
    color: $light